{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/estilosCompraBoletos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>Comprando boletos en USAC-Cinema</title>
</head>
<body>
    <div class="container">
        <select class="top-left" name="Película">
          <option value="manzana">Manzana</option>
          <option value="naranja">Naranja</option>
          <option value="banana">Banana</option>
          <option value="kiwi">Kiwi</option>
        </select>
      
        <select class="top-right" name="Salas">
          <option value="manzana">Manzana</option>
          <option value="naranja">Naranja</option>
          <option value="banana">Banana</option>
          <option value="kiwi">Kiwi</option>
        </select>
      
        <select class="bottom-left" name="Tarjeta">
          <option value="manzana">Manzana</option>
          <option value="naranja">Naranja</option>
          <option value="banana">Banana</option>
          <option value="kiwi">Kiwi</option>
        </select>
      
        <select class="bottom-right" name="fruta4">
          <option value="manzana">Manzana</option>
          <option value="naranja">Naranja</option>
          <option value="banana">Banana</option>
          <option value="kiwi">Kiwi</option>
        </select>
      </div>
</body>
</html>