{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/estilosLogS.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>Iniciar sesión en USAC-Cinema</title>
</head>
<body>
    <div class="formulario">
        <h1>INICIO DE SESIÓN</h1>
        <form method="post">
            <div class="username">
                <input type="text" name="usuario" required>
                <label>Usuario</label>
            </div>
            <div class ="username">
                <input type="password" name="contraseña" required>
                <label>Contraseña</label>
            </div>
            {% if mensaje %}
            <div class="error-message">{{ mensaje }}</div>
            {% endif %}
            <div class ="recordar">¿Olvidó su contraseña?</div>
            <input type="submit" value="Iniciar sesión">
            <div class="registrarse">
                ¿No tienes una cuenta? <a href="registroUser.html">Registrate</a>
            </div>
        </form>
    </div>
</body>
</html>